h1, p, ul,li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    }

a {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background:rgba(81,83,77,0.5);
    background-image: url(image/Home_page.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 100%;
}


.rectangle {
    width: 100%;
    max-width: 63%;
    margin: 3% auto;

    background: rgba(255, 254, 230, 0.9);
    padding: 3.5% 6%;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 1.2em;
    text-align: center;
    word-wrap: break-word;

    margin-bottom: 9%;

    color: #F8CF2C;
}

p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;

    color: #252827;

    margin-bottom: 3.5%;
}

ul {
    width: 70%;
    margin: 5% auto;
}

button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    width: 100%;

    color: #1C1D1F;
    background: rgba(252, 214, 67, 0.9);
    height: 70px;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    word-wrap: break-word;
}
li {
    margin: 0 8%;
    width: 32%;
}
li:first-child {
    float: left;
}
li:last-child {
    float: right;
}
button:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1210px) {
    li { margin: 0 5%; width: 40%;}  
} 

@media screen and (max-width: 1024px) and (orientation: portrait) {
    li { margin: 0 5%; width: 40%;}
    .rectangle { margin-top: 40% }
    body { font-size: 80%;}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    li { margin: 10% auto; width: 80%; }
    li:first-child {
        float: none;
    }
    li:last-child {
        float: none;
    }
    body { font-size: 70%; }
    .rectangle { margin: 20% auto; }
    h1 { font-size: 3em; }
}

@media screen and (max-width: 375px) and (orientation: portrait) {
    li { margin: 10% auto; width: 90%; float: none;}
    li:first-child {
        float: none;
    }
    li:last-child {
        float: none;
    }
    body { font-size: 60%;}
    .rectangle { margin: 20% auto; }
    h1 { font-size: 3em; }
}

@media screen and (max-width: 320px) and (orientation: portrait) {
    li { margin: 10% auto; width: 90%; float: none;}
    li:first-child {
        float: none;
    }
    li:last-child {
        float: none;
    }
    .rectangle { margin: 15% auto; }
    body { font-size: 50%;}
}