h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    }

a {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #FFFEE6 url(image/User_done.png) no-repeat;
    background-size: cover;
    height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 100%;
}

.rectangle {
    display: block;
    width: 100%;
    max-width: 83%;
    height: 600px;
    max-height: 100%;
    margin: 5% auto;
    background: #FFFEE6;
    border: 10px solid #252827;
    box-sizing: border-box;
    padding: 100px auto;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    width: 80%;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    margin: 3% auto;

    color: #333433;
    word-wrap: break-word;
}

img {
    display: block;
    float: left;
    margin-left: 5%;
    margin-right: 8%;
}

.info {
    width: 100%;
    max-width: 90%;
    margin: 5% auto;
}

p {
    width: 90%;
    margin: 3% auto;
    font-size: 1.2em;
    line-height: 1.1em;
    color: #60615B;
}

button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 1em;
    text-align: center;
    width: 25%;
    height: 60px;
    margin: 0 17%;


    background: #FCD643;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);   
}

button:hover {
    text-decoration: underline;
}
.save {
    color: #1C1D1F;
}
.back {
    margin-top: 2%;
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 1.5em;

    color: #60615B;
    margin-left: 15%;
    text-decoration: underline;
}
.back:hover {
    text-decoration: none;
}


@media screen and (max-width: 1024px) and (orientation: portrait) {
    body { font-size: 80%;}
    .rectangle { margin: 15% auto; height: 1000px; padding: 20px;}
    img { margin: 3% 27%; }
    .info { display: inline-block; text-align: center; margin: 3% 4%;}
    button { width: 70%; margin: 5% auto;}
    .back { margin-left: 0; }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    body { font-size: 70%;}
    .rectangle { margin: 15% auto; height: 800px; }
    img { width: 50%; margin-left: 23%; }
    .info { margin: 3% 3%; }
    h1 { width: 90%;}
}

@media screen and (max-width: 375px) and (orientation: portrait) {
    body { font-size: 60%;}
    .rectangle { margin: 15% auto; height: 600px; }
    h1 { font-size: 2.3em; width: 90%;}
}

@media screen and (max-width: 320px) and (orientation: portrait) {
    body { font-size: 50%;}
    .rectangle { margin: 15% auto; height: 500px; border: 5px solid #252827;}
    h1 { font-size: 2em; width: 95%;}
}