h1, h2, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #FCD643 url(image/User_here.png) no-repeat;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 100%;
}

