h1, h2, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: #FCD643 url(image/User_here.png) no-repeat;
    background-size: cover;
    height: 100vh;

    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    line-height: 100%;
}

.container {
    margin-left: 43%;
    width: 100%;
    max-width: 57%;
    text-align: center;
    margin-top: 20%;
}

h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 3em;
    line-height: 1em;
    text-align: center;
    margin-bottom: 5%;

    color: #1C1D1F;
}

p {
    text-align: center;
    font-size: 1.7em;
    line-height: 1.3em;
    color: #1C1D1F;
    margin-bottom: 3%;
}

a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: center;

    color: #1C1D1F;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}


@media screen and (max-width: 1024px) and (orientation: portrait) {
    body {background: url(image/fon4.png) no-repeat #FCD643; background-size: contain; background-position-y: bottom;}
    .container {padding-top: 68%;}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    body { font-size: 70%; background-position-y: bottom;}
}

@media screen and (max-width: 414px) and (orientation: portrait) {
    body { font-size: 50%; background-position-y: bottom;}
    .container {margin-left: 45%; padding-top: 98%;}
}

@media screen and (max-width: 375px) and (orientation: portrait) {
    body { font-size: 50%; background-size: contain; background-position-y: 368px;}
    .container {margin-left: 37%; padding-top: 55%;}
}

@media screen and (max-width: 320px) and (orientation: portrait) {
    body { font-size: 40%;}
}