<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>choice</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registr/css/choice.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% if event_list %}
    <div class="rectangle">
      <h1>Список доступных мероприятий:</h1>
      <ul>
      {% for event in event_list %}
          <li><a href="{% url 'new_user' event.id %}">{{ event.event_name }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No polls are available.</p>
    </div>
    {% endif %}
  </body>
</html>