<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You are registered!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registr/css/reg_done.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="rectangle">
      <h1>{{first_name}}, вы успешно зарегистрированы</h1>
      <img src="{% url 'qr' user.id %}" alt="QR">
      <div class="info">
        <p>Мероприятие состоится {{ date }} в {{ time }} и будет проходить по адресу {{ event.address }}</p>
        <p>Для того, что пройти на мероприятие вы должны предъявить билет, который является QR-кодом. Свой индивидуальный QR-код вы можете скачать по ссылке ниже или сделать скриншот экрана</p>
        <button><a href="{% url 'qr' user.id %}" class="save">Cкачать QR-код</a></button>
        <a href="{% url 'index' %}" class="back">Вернуться на главную страницу</a>
      </div>
    </div>
  </body>
</html>