<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scanning QR-code</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registr/css/scan.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="rectangle">
      <h1>Отсканируйте свой QR-код</h1>
      <form enctype="multipart/form-data" action="{% url 'scan' %}" method="post">
        {% csrf_token %}
        {{ form.file }}
        <input type="submit" value="Сканировать">
      </form>
      <p>{{ error }}</p>
    </div>
  </body>
</html>