<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration!</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registr/css/user_here.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>Проходите!</h1>
      <p>{{ first_name }}, ваш QR код успешно отсканирован, можете проходить)</p>
      <a href="{% url 'index' %}">Вернуться на главную страницу</a>
    </div>
  </body>
</html>